#head-line {
	background-color: #eee;
	color: #555;
}
#head-line h2 {
	color: #333;
}

#head-line b {
	color: #333;
}
.card{
	padding:10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.card-title{
	color:#fff;
}
.card-text{
	color:#fff;
}
.card-body{
	height:70px;
}
.content {
	margin-bottom: 100px;
}

#col-left {
	margin-top: 20px;
}

#col-right {
	margin-top: 20px;
}

.menu {
	margin-top: 10px;
}

.menu a {
	text-decoration: none;
	color: #fff;
}

#col-right-2 {
	border-radius: 2px;
	border: 1px solid #eee;
	color: #555;
	text-align: left;
	min-height: 400px;
	margin-right: 5px;
}

#headline-right {
	color: #555;
	margin-top: 20px;
	margin-bottom: 5px;
	text-shadow: 1px 1px 1px #eee;
}

.margin-5 {
	margin-top: 5px;
}

.margin-10 {
	margin-top: 10px;
}

.margin-20 {
	margin-top: 20px;
}

.margin-30 {
	margin-top: 30px;
}

label {
	color: #555;
	width: 100%;
	text-align: left;
}

.btn-file {
	margin-left: 0px;
}

.logo {
	margin-left: 15px;
}

.logo-small {
	margin: 5px;
	margin-left: 15px;
	height: 20px;
}

tbody {
	color: #777;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
		color:#000;
		/* background: #3a7bd5;  /* fallback for old browsers */
		/* background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
		/* background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.forgot{
	float: right;
}
#loading {
	margin: 0px auto;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 999999;
	background: rgba(255, 255, 255, 0.9);
	display: none;
}

#loading img {
	margin: 0px auto;
}

.gradient-gray {
	color: #999;
	text-shadow: 0px 1px 0px #999;
	background: rgba(226, 226, 226, 1);
	background: -moz-linear-gradient(left, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 28%, rgba(254, 254, 254, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226, 226, 226,
		1)), color-stop(28%, rgba(219, 219, 219, 1)),
		color-stop(100%, rgba(254, 254, 254, 1)));
	background: -webkit-linear-gradient(left, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 28%, rgba(254, 254, 254, 1) 100%);
	background: -o-linear-gradient(left, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 28%, rgba(254, 254, 254, 1) 100%);
	background: -ms-linear-gradient(left, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 28%, rgba(254, 254, 254, 1) 100%);
	background: linear-gradient(to right, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 28%, rgba(254, 254, 254, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2',
		endColorstr='#fefefe', GradientType=1);
}

table a {
	color: #999;
}

.font-putih{
	color:#e6efc0;
}

.font-hitam{
	color:#14171a
}

.font-kuning {
	color: #ec971f;
}

.font-hijau {
	color: #20B2AA;
}

.font-merah {
	color: #c9302c;
}

.font-biru {
	color: #1c94e0;
}
.par-center{
	float: none;
  margin: 0px auto;

}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
		background: url("../build/images/bg-fix.jpg");

		/* background: transparent;

		/* background: #3a7bd5;  /* fallback for old browsers */
		/* background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
		/* background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
.blur{
	position: absolute;
	margin: 0px auto;
	background: #f3f3f3;
	opacity: 0.3;
	top:0;
	height:100%;
	/* z-index: 99; */
	-webkit-filter: blur(5px);
	 -moz-filter: blur(5px);
	 -o-filter: blur(5px);
	 -ms-filter: blur(5px);
	 filter: blur(10px);
	/* box-shadow: 1px 1px 1px 1px #444; */
	/* background: #fff; */
	width: 100%; /*whatever width you want*/
}
.inner {
		/* border: 0.7px solid #888; */
		padding:20px;
    margin-left: auto;
    margin-right: auto;

		/* box-shadow: 1px 1px 1px 1px #444; */
		/* background: #fff; */
    width: 400px; /*whatever width you want*/
}
/* THIS IS FOR LOADING CONTENT */
.loading-content {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display:none;
}

/* Transparent Overlay */
.loading-content:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading-content:not(:required) {
  /* hide "loading-content..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading-content:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.body-1{

	align-items: center;
	justify-content: center
}

.body-2{
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.img-logo-login{
	height:120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
